<section class="about-section" id="about">
  <div class="container-terms-policy">
    <h1 class="section-title">About the Game</h1>
    <p class="about-text">
      "Line Puzzle" invites players to a mentally stimulating environment where
      the objective is to solve complex puzzles by manipulating various lines on
      a grid. The game offers a unique blend of relaxation and mental challenge,
      encouraging players to stretch, bend, and connect lines to form specific
      shapes or patterns. With hundreds of levels, each increasing in
      difficulty, players encounter an array of obstacles and unique scenarios
      that require logical thinking and creativity. The interface is
      minimalistic and user-friendly, designed to keep the focus on
      puzzle-solving without unnecessary distractions.
    </p>
    <div class="about-img-container">
      <img
        class="about-img paws"
        srcset="./img/about/2_paws_1x.webp 1x, ./img/about/2_paws_2x.webp 2x"
        src="./img/about/2_paws_1x.webp"
        alt="cat's paws"
        width="132"
        height="131"
        loading="lazy"
      />
      <img
        class="about-img cat"
        srcset="
          ./img/about/cat_w_g_3_1x.webp 1x,
          ./img/about/cat_w_g_3_2x.webp 2x
        "
        src="./img/about/cat_w_g_3_1x.webp"
        alt="cat"
        width="132"
        height="132"
        loading="lazy"
      />
    </div>
  </div>
</section>
