<section class="advantages-section" id="advantages">
  <div class="container advantages-container">
    <h1 class="section-title">Advantages</h1>
    <ul class="advantages-list">
      <li class="advantages-list-item">
        <picture class="advantages-img">
          <source
            srcset="
              ./img/advantages/puzzle-1.png 1x,
              ./img/advantages/puzzle-1.png 2x
            "
            media="(min-width: 1440px)"
            width="86"
            height="68"
          />
          <source
            srcset="
              ./img/advantages/puzzle-1-mob.png,
              ./img/advantages/puzzle-1-mob.png 2x
            "
            media="(min-width: 320px)"
            width="58"
            height="48"
          />
          <img
            class="advantages-img"
            src="./img/advantages/puzzle-1-mob.png"
            alt="Puzzle"
            width="58"
            height="48"
          />
        </picture>
        <p class="advantages-text">
          Enhances problem-solving skills with creative puzzles
        </p>
      </li>
      <li class="advantages-list-item">
        <picture class="advantages-img">
          <source
            srcset="
              ./img/advantages/puzzle-2.png,
              ./img/advantages/puzzle-2.png 2x
            "
            media="(min-width: 1440px)"
            width="86"
            height="68"
          />
          <source
            srcset="
              ./img/advantages/puzzle-2-mob.png,
              ./img/advantages/puzzle-2-mob.png 2x
            "
            media="(min-width: 320px)"
            width="58"
            height="48"
          />
          <img
            class="advantages-img"
            src="./img/advantages/puzzle-2-mob.png"
            alt="Puzzle"
            width="58"
            height="48"
          />
        </picture>
        <p class="advantages-text">
          Offers hundreds of levels with increasing complexity
        </p>
      </li>
      <li class="advantages-list-item">
        <picture class="advantages-img">
          <source
            srcset="
              ./img/advantages/puzzle-3.png,
              ./img/advantages/puzzle-3.png 2x
            "
            media="(min-width: 1440px)"
            width="86"
            height="68"
          />
          <source
            srcset="
              ./img/advantages/puzzle-3-mob.png,
              ./img/advantages/puzzle-3-mob.png 2x
            "
            media="(min-width: 320px)"
            width="58"
            height="48"
          />
          <img
            class="advantages-img"
            src="./img/advantages/puzzle-3-mob.png"
            alt="Puzzle"
            width="58"
            height="48"
          />
        </picture>
        <p class="advantages-text">
          Engages the brain with logical and spatial challenges
        </p>
      </li>
      <li class="advantages-list-item">
        <picture class="advantages-img">
          <source
            srcset="
              ./img/advantages/puzzle-4.png,
              ./img/advantages/puzzle-4.png 2x
            "
            media="(min-width: 1440px)"
            width="86"
            height="68"
          />
          <source
            srcset="
              ./img/advantages/puzzle-4-mob.png,
              ./img/advantages/puzzle-4-mob.png 2x
            "
            media="(min-width: 320px)"
            width="58"
            height="48"
          />
          <img
            class="advantages-img"
            src="./img/advantages/puzzle-4-mob.png"
            alt="Puzzle"
            width="58"
            height="48"
          />
        </picture>
        <p class="advantages-text">
          Features a simple, intuitive gameplay interface
        </p>
      </li>
      <li class="advantages-list-item">
        <picture class="advantages-img">
          <source
            srcset="
              ./img/advantages/puzzle-5.png,
              ./img/advantages/puzzle-5.png 2x
            "
            media="(min-width: 1440px)"
            width="86"
            height="68"
          />
          <source
            srcset="
              ./img/advantages/puzzle-5-mob.png,
              ./img/advantages/puzzle-5-mob.png 2x
            "
            media="(min-width: 320px)"
            width="58"
            height="48"
          />
          <img
            class="advantages-img"
            src="./img/advantages/puzzle-5-mob.png"
            alt="Puzzle"
            width="58"
            height="48"
          />
        </picture>
        <p class="advantages-text">
          Provides hints and tips to help when players are stuck
        </p>
      </li>
      <li class="advantages-list-item">
        <picture class="advantages-img">
          <source
            srcset="
              ./img/advantages/puzzle-6.png,
              ./img/advantages/puzzle-6.png 2x
            "
            media="(min-width: 1440px)"
            width="86"
            height="68"
          />
          <source
            srcset="
              ./img/advantages/puzzle-6-mob.png,
              ./img/advantages/puzzle-6-mob.png 2x
            "
            media="(min-width: 320px)"
            width="58"
            height="48"
          />
          <img
            class="advantages-img"
            src="./img/advantages/puzzle-6-mob.png"
            alt="Puzzle"
            width="58"
            height="48"
          />
        </picture>
        <p class="advantages-text">
          Regular updates with new levels and features
        </p>
      </li>
      <li class="advantages-list-item">
        <picture class="advantages-img">
          <source
            srcset="
              ./img/advantages/puzzle-7.png,
              ./img/advantages/puzzle-7.png 2x
            "
            media="(min-width: 1440px)"
            width="86"
            height="68"
          />
          <source
            srcset="
              ./img/advantages/puzzle-7-mob.png,
              ./img/advantages/puzzle-7-mob.png 2x
            "
            media="(min-width: 320px)"
            width="58"
            height="48"
          />
          <img
            class="advantages-img"
            src="./img/advantages/puzzle-7-mob.png"
            alt="Puzzle"
            width="58"
            height="48"
          />
        </picture>
        <p class="advantages-text">
          Suitable for all ages, promoting cognitive development
        </p>
      </li>
      <li class="advantages-list-item">
        <picture class="advantages-img">
          <source
            srcset="
              ./img/advantages/puzzle-8.png,
              ./img/advantages/puzzle-8.png 2x
            "
            media="(min-width: 1440px)"
            width="86"
            height="68"
          />
          <source
            srcset="
              ./img/advantages/puzzle-8-mob.png,
              ./img/advantages/puzzle-8-mob.png 2x
            "
            media="(min-width: 320px)"
            width="58"
            height="48"
          />
          <img
            class="advantages-img"
            src="./img/advantages/puzzle-8-mob.png"
            alt="Puzzle"
            width="58"
            height="48"
          />
        </picture>
        <p class="advantages-text">
          Playable offline, allowing for puzzle-solving anytime, anywhere
        </p>
      </li>
    </ul>
  </div>
</section>
