<section class="benefits-section" id="benefits">
  <div class="container">
    <h1 class="section-title">Benefits</h1>
    <ul class="benefits-wrapper">
      <li class="benefits-item">
        <span class="benefits-title">Rating</span>
        <svg class="benefit-img" width="130" height="132">
          <title>Star image</title>
          <use href="./img/icons/sprite.svg#star"></use>
        </svg>
        <span class="benefits-description">
          <span class="animated-number" data-target="4.8">0</span>
        </span>
      </li>
      <li class="benefits-item">
        <span class="benefits-title">Downloads</span>
        <svg class="benefit-img" width="130" height="132">
          <title>Downloads image</title>
          <use href="./img/icons/sprite.svg#downloads"></use>
        </svg>
        <span class="benefits-description">
          <span class="animated-number" data-target="50000">0</span>
          +
        </span>
      </li>
      <li class="benefits-item">
        <span class="benefits-title">Reviews</span>
        <svg class="benefit-img" width="130" height="132">
          <title>Reviews image</title>
          <use href="./img/icons/sprite.svg#reviews"></use>
        </svg>

        <span class="benefits-description">
          <span class="animated-number" data-target="1000">0</span>
          +
        </span>
      </li>
      <li class="benefits-item">
        <span class="benefits-title">Dual Mode</span>
        <svg class="benefit-img" width="130" height="132">
          <title>WiFi image</title>
          <use href="./img/icons/sprite.svg#wifi"></use>
        </svg>
        <span class="benefits-description">Online/Offline</span>
      </li>
    </ul>
  </div>
</section>
