<section class="benefits-section" id="benefits">
  <div class="container">
    <h1 class="section-title">Benefits</h1>
    <ul class="benefits-wrapper">
      <li class="benefits-item">
        <span class="benefits-title">Rating</span>
        <img
          class="benefit-img"
          srcset="
            ./img/benefits/star_1x.webp 1x,
            ./img/benefits/star_2x.webp 2x
          "
          src="./img/benefits/star_1x.webp"
          alt="Review image"
          width="130"
          height="132"
          loading="lazy"
        />
        <span class="benefits-description">4,8</span>
      </li>
      <li class="benefits-item">
        <span class="benefits-title">Downloads</span>
        <img
          class="benefit-img"
          srcset="
            ./img/benefits/downloads_1x.webp 1x,
            ./img/benefits/downloads_2x.webp 2x
          "
          src="./img/benefits/downloads_1x.webp"
          alt="Review image"
          width="130"
          height="132"
          loading="lazy"
        />
        <span class="benefits-description">50 000 +</span>
      </li>
      <li class="benefits-item">
        <span class="benefits-title">Reviews</span>

        <img
          class="benefit-img"
          srcset="
            ./img/benefits/reviews_1x.webp 1x,
            ./img/benefits/reviews_2x.webp 2x
          "
          src="./img/benefits/reviews_1x.webp"
          alt="Review image"
          width="130"
          height="132"
          loading="lazy"
        />

        <span class="benefits-description">1000 +</span>
      </li>
      <li class="benefits-item">
        <span class="benefits-title">Dual Mode</span>
        <img
          class="benefit-img"
          srcset="
            ./img/benefits/wifi_1x.webp 1x,
            ./img/benefits/wifi_2x.webp 2x
          "
          src="./img/benefits/wifi_1x.webp"
          alt="Review image"
          width="130"
          height="132"
          loading="lazy"
        />
        <span class="benefits-description">Online/Offline</span>
      </li>
    </ul>
  </div>
</section>
