<section class="disclaimer-section">
  <h2 class="visually-hidden">Disclaimer</h2>
  <ul class="container disclaimer-wrapper">
    <li class="disclaimer-icon-item">
      <svg class="disclaimer-icon" width="86" height="86">
        <title>Disclaimer icon</title>
        <use href="./img/icons/sprite.svg#disclaimer"></use>
      </svg>
      <span class="disclaimer-icon-description">Disclaimer</span>
    </li>
    <li class="disclaimer-content-item">
      <p class="disclaimer-content">
        BESTSTARTJOY.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
        WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN
        REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF
        AGE. ENJOY PLAYING THIS GAME!
      </p>
    </li>
  </ul>
</section>
