<section class="faq-section" id="faq">
  <div class="container">
    <h1 class="section-title">FAQ</h1>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text">
          How do I unlock new levels?<span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="28" height="28">
              <use href="./img/icons/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Complete levels sequentially to unlock further puzzles.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text">
          <span class="text-center">Can I skip a level?</span
          ><span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="28" height="28">
              <use href="./img/icons/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Currently, levels must be completed in order to progress.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text">
          Are there any in-app purchases?<span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="28" height="28">
              <use href="./img/icons/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          The game offers in-app purchases for hints and level packs.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text">
          What do I do if a puzzle seems unsolvable?<span
            class="faq-toggle-symbol"
            ><svg class="faq-icon" width="28" height="28">
              <use href="./img/icons/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Use the hint function or reset the puzzle to try different approaches.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text">
          How can I save my game progress?<span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="28" height="28">
              <use href="./img/icons/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Progress is automatically saved in your device's memory.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text">
          Is there a multiplayer mode?<span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="28" height="28">
              <use href="./img/icons/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          This version of Line Puzzle is single-player only.
        </p>
      </li>
    </ul>
  </div>
</section>
