<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-link" href="./privacy-policy.html"
              >Privacy policy</a
            ><span class="footer-span">&nbsp;/&nbsp;</span>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" href="./terms-of-use.html"
              >Terms and conditions</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <p class="footer-text">All rights reserved beststartjoy.com | 2024</p>
  </div>
</footer>
