<section class="gallery-section" id="gallery">
  <div class="container gallery-container">
    <h1 class="section-title">Gallery</h1>
    <div class="carousel-container">
      <ul class="gallery-carousel">
        <li class="gallery-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-1.png"
            alt=""
            width="280"
            height="157"
          />
        </li>
        <li class="gallery-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-2.png"
            alt=""
            width="280"
            height="157"
          />
        </li>
        <li class="gallery-item">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-3.png"
            alt=""
            width="280"
            height="157"
          />
        </li>
      </ul>
      <div class="controls">
        <button
          class="arrow-btn"
          type="button"
          id="leftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="58" height="30">
            <use href="./img/icons/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <button
          class="arrow-btn"
          type="button"
          id="rightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="58" height="30">
            <use href="./img/icons/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
