<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html">
        <picture class="nav-img">
          <source
            srcset="./img/logo-desktop.png 1x, ./img/logo-desktop-2x.png 2x"
            media="(min-width: 1440px)"
            width="86"
            height="86"
          />
          <source
            srcset="./img/logo.png 1x, ./img/logo-2x.png 2x"
            media="(min-width: 320px)"
            width="44"
            height="44"
          />
          <img
            class="nav-img"
            src="./img/logo.png"
            alt="Logo"
            width="44"
            height="44"
          />
        </picture>
      </a>
      <ul class="nav-list">
        <li class="nav-list-item"><a class="nav-list-link" href="">Home</a></li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">About the Game</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">How to Play</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Advantages</a>
        </li>
        <li class="nav-list-item"><a class="nav-list-link" href="">FAQ</a></li>
      </ul>
      <button class="nav-btn">menu</button>
    </nav>
  </div>
  <div class="context-menu">
    <a href="./index.html">
      <img
        class="context-img"
        src="./img/logo.png"
        alt="Logo"
        width="44"
        height="44"
      />
    </a>
    <button class="close-btn">X</button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="">Benefits</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="">About the Game</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="">How to Play</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="">Gallery</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="">Advantages</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
