<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html">
        <picture class="nav-img">
          <source
            srcset="./img/logo-desktop.png 1x, ./img/logo-desktop-2x.png 2x"
            media="(min-width: 1440px)"
            width="86"
            height="86"
          />
          <source
            srcset="./img/logo.png 1x, ./img/logo-2x.png 2x"
            media="(min-width: 320px)"
            width="44"
            height="44"
          />
          <img
            class="nav-img"
            src="./img/logo.png"
            alt="Logo"
            width="44"
            height="44"
          />
        </picture>
      </a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#about">About the Game</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#play">How to Play</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#advantages">Advantages</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#faq">FAQ</a>
        </li>
      </ul>
      <button class="nav-btn">
        <svg class="menu-icon" width="34" height="34">
          <use href="./img/icons/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="context-menu">
    <a href="./index.html">
      <img
        class="context-img"
        src="./img/logo.png"
        alt="Logo"
        width="44"
        height="44"
      />
    </a>
    <button class="close-btn">
      <svg class="close-icon" width="40" height="40">
        <use href="./img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#benefits">Benefits</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about"
            >About the Game</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#play">How to Play</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gallery">Gallery</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#advantages"
            >Advantages</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
