<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="../index.html"
        ><img
          class="nav-img"
          src="../img/logo.png"
          alt="Logo"
          width="44"
          height="44"
      /></a>
      <ul class="nav-list">
        <li class="nav-list-item"><a class="nav-list-link" href="">Home</a></li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">About the Game</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">How to Play</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Advantages</a>
        </li>
        <li class="nav-list-item"><a class="nav-list-link" href="">FAQ</a></li>
      </ul>
      <button class="nav-btn">menu</button>
    </nav>
  </div>
</header>
