<section class="hero-section bg-puzzles">
  <ul class="container hero-content-wrapper">
    <li class="content-item">
      <h1 class="section-title">Line Puzzle</h1>
      <p class="hero-text">
         Unleash your creativity and challenge your mind with
        <span class="underline-text">Line Puzzle!</span> Stretch, bend, and
        connect lines to solve puzzles that are as engaging as they are
        intricate. Perfect your skills across a myriad of levels designed to
        test your logical thinking and spatial awareness. Dive into a world
        where each puzzle is a brain-teasing joy!
      </p>

      <img
        class="line-puzzle-img"
        srcset="
          ./img/hero/image_fav_1x.webp 1x,
          ./img/hero/image_fav_2x.webp 2x
        "
        src="./img/hero/image_fav_1x.webp"
        alt="line puzzle game image"
        width="132"
        height="115"
      />

      <a
        class="gplay-btn drop"
        href="https://play.google.com/store/apps/details?id=brain.sage.line.puzzle"
        rel="noopener noreferrer"
        target="_blank"
        title="Download the game Brain Sage Champion on Google Play"
        aria-label="Download the game Brain Sage Champion on Google Play"
        role="button"
      >
        <div class="gplay-btn-icon">
          <svg class="" width="45" height="50">
            <title>Google Play icon</title>
            <use href="./img/icons/sprite.svg#google-play"></use>
          </svg>
        </div>
        <div class="gplay-text">
          <p class="gplay-text-top">GET IT ON</p>
          <p class="gplay-text-botom">Google Play</p>
        </div>
      </a>
    </li>
    <li class="image-item">
      <img
        class="hero-img"
        srcset="./img/hero/pixel@_1x.webp 1x, ./img/hero/pixel@_2x.webp 2x"
        src="./img/hero/pixel@_1x.webp"
        alt="Pixel 8 Pro Mockup Obsidian 1 image"
        width="298"
        height="611"
      />
    </li>
  </ul>
</section>
