<section class="play-section" id="play">
  <div class="container">
    <h1 class="section-title">How to Play</h1>
    <div class="play-carousel-container">
      <ul class="play-carousel">
        <li class="play-item">
          <picture>
            <source
              srcset="./img/play/puzzle-1.png 1x, ./img/play/puzzle-1@2x.png 2x"
            />
            <img
              class="play-img"
              src="./img/play/puzzle-1.png"
              alt="Puzzle"
              width="280"
              height="280"
            />
          </picture>
        </li>
        <li class="play-item">
          <picture>
            <source
              srcset="./img/play/puzzle-2.png 1x, ./img/play/puzzle-2@2x.png 2x"
            />
            <img
              class="play-img"
              src="./img/play/puzzle-2.png"
              alt="Puzzle"
              width="280"
              height="280"
            />
          </picture>
        </li>
        <li class="play-item">
          <picture>
            <source
              srcset="./img/play/puzzle-3.png 1x, ./img/play/puzzle-3@2x.png 2x"
            />
            <img
              class="play-img"
              src="./img/play/puzzle-3.png"
              alt="Puzzle"
              width="280"
              height="280"
            />
          </picture>
        </li>
        <li class="play-item">
          <picture>
            <source
              srcset="./img/play/puzzle-4.png 1x, ./img/play/puzzle-4@2x.png 2x"
            />
            <img
              class="play-img"
              src="./img/play/puzzle-4.png"
              alt="Puzzle"
              width="280"
              height="280"
            />
          </picture>
        </li>
        <li class="play-item">
          <picture>
            <source
              srcset="./img/play/puzzle-5.png 1x, ./img/play/puzzle-5@2x.png 2x"
            />
            <img
              class="play-img"
              src="./img/play/puzzle-5.png"
              alt="Puzzle"
              width="280"
              height="280"
            />
          </picture>
        </li>
        <li class="play-item">
          <picture>
            <source
              srcset="./img/play/puzzle-6.png 1x, ./img/play/puzzle-6@2x.png 2x"
            />
            <img
              class="play-img"
              src="./img/play/puzzle-6.png"
              alt="Puzzle"
              width="280"
              height="280"
            />
          </picture>
        </li>
        <li class="play-item">
          <picture>
            <source
              srcset="./img/play/puzzle-7.png 1x, ./img/play/puzzle-7@2x.png 2x"
            />
            <img
              class="play-img"
              src="./img/play/puzzle-7.png"
              alt="Puzzle"
              width="280"
              height="280"
            />
          </picture>
        </li>
        <li class="play-item">
          <picture>
            <source
              srcset="./img/play/puzzle-8.png 1x, ./img/play/puzzle-8@2x.png 2x"
            />
            <img
              class="play-img"
              src="./img/play/puzzle-8.png"
              alt="Puzzle"
              width="280"
              height="280"
            />
          </picture>
        </li>
      </ul>
      <div class="play-controls">
        <button
          class="play-arrow-btn"
          type="button"
          id="playLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="play-arrow-icon" width="58" height="30">
            <use href="./img/icons/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <div class="play-dots">
          <div class="play-dot"></div>
          <div class="play-dot"></div>
          <div class="play-dot"></div>
        </div>
        <button
          class="play-arrow-btn"
          type="button"
          id="playRightArrow"
          aria-label="Next slide"
        >
          <svg class="play-arrow-icon" width="58" height="30">
            <use href="./img/icons/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>

      <ul class="play-carousel-desktop">
        <li class="play-item-desktop-1">
          <picture>
            <source
              srcset="./img/play/puzzle-1.png 1x, ./img/play/puzzle-1@2x.png 2x"
            />
            <img
              class="play-img-desktop"
              src="./img/play/puzzle-1.png"
              alt="Puzzle"
              width="414"
              height="414"
            />
          </picture>
        </li>
        <li class="play-item-desktop-2">
          <picture>
            <source
              srcset="./img/play/puzzle-2.png 1x, ./img/play/puzzle-2@2x.png 2x"
            />
            <img
              class="play-img-desktop"
              src="./img/play/puzzle-2.png"
              alt="Puzzle"
              width="306"
              height="306"
            />
          </picture>
        </li>
        <li class="play-item-desktop-3">
          <picture>
            <source
              srcset="./img/play/puzzle-3.png 1x, ./img/play/puzzle-3@2x.png 2x"
            />
            <img
              class="play-img-desktop"
              src="./img/play/puzzle-3.png"
              alt="Puzzle"
              width="416"
              height="339"
            />
          </picture>
        </li>
        <li class="play-item-desktop-4">
          <picture>
            <source
              srcset="./img/play/puzzle-4.png 1x, ./img/play/puzzle-4@2x.png 2x"
            />
            <img
              class="play-img-desktop"
              src="./img/play/puzzle-4.png"
              alt="Puzzle"
              width="306"
              height="362"
            />
          </picture>
        </li>
        <li class="play-item-desktop-5">
          <picture>
            <source
              srcset="./img/play/puzzle-5.png 1x, ./img/play/puzzle-5@2x.png 2x"
            />
            <img
              class="play-img-desktop"
              src="./img/play/puzzle-5.png"
              alt="Puzzle"
              width="417"
              height="340"
            />
          </picture>
        </li>
        <li class="play-item-desktop-6">
          <picture>
            <source
              srcset="./img/play/puzzle-6.png 1x, ./img/play/puzzle-6@2x.png 2x"
            />
            <img
              class="play-img-desktop"
              src="./img/play/puzzle-6.png"
              alt="Puzzle"
              width="306"
              height="372"
            />
          </picture>
        </li>
        <li class="play-item-desktop-7">
          <picture>
            <source
              srcset="./img/play/puzzle-7.png 1x, ./img/play/puzzle-7@2x.png 2x"
            />
            <img
              class="play-img-desktop"
              src="./img/play/puzzle-7.png"
              alt="Puzzle"
              width="416"
              height="599"
            />
          </picture>
        </li>
        <li class="play-item-desktop-8">
          <picture>
            <source
              srcset="./img/play/puzzle-8.png 1x, ./img/play/puzzle-8@2x.png 2x"
            />
            <img
              class="play-img-desktop"
              src="./img/play/puzzle-8.png"
              alt="Puzzle"
              width="416"
              height="287"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
