.advantages-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.advantages-container {
  @include media(desktop) {
    background-image: url(../img/advantages/paws.png);
    background-repeat: no-repeat;
    background-position: top 450px right 150px;
    background-size: 153px 149px;

    @media (min-resolution: 192dpi) {
      background-image: url(../img/advantages/paws-2x.png);
    }
  }
}

.advantages-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    margin-top: 64px;
    gap: 32px;
    align-items: start;
    padding-left: 110px;
  }
}

.advantages-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 24px;
  }
}

.advantages-img {
  flex-shrink: 0;
}

.advantages-text {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  width: 198px;

  @include media(desktop) {
    font-size: 32px;
    width: 100%;
  }
}
