.footer {
  background-color: #9e083e;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer-nav {
  text-align: center;
  margin-bottom: 30px;
}

.footer-list {
}

.footer-list-item {
}

.footer-link {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #fff;
}

.footer-text {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #000;
}
