.footer {
  background-color: #9e083e;
  padding-top: 65px;
  padding-bottom: 65px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer-wrapper {
  padding-right: 110px;
  padding-left: 110px;
}

.footer-nav {
  text-align: center;
  margin-bottom: 30px;

  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    flex-direction: row;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #fff;
}

.footer-span {
  display: none;
  text-decoration: none;

  @include media(desktop) {
    display: inline;
  }
}

.footer-text {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #000;
}
