.header {
  padding-top: 8px;
  padding-bottom: 8px;
  position: sticky;
  top: 0;
  // background-color: #a10b41;
  z-index: 10;
  background-color: rgba(161, 11, 65, 0.7);
  backdrop-filter: blur(10px);

  @include media(desktop) {
    padding-top: 22px;
    padding-bottom: 26px;
  }
}

.container {
  width: 100%;
  max-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 72px;
    padding-left: 72px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 10px;

  @include media(desktop) {
    padding-left: 0;
    padding-right: 182px;
  }
}

.nav-img {
  @include media(desktop) {
    width: 86px;
    height: 86px;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    gap: 32px;
  }
}

.nav-list-link {
  font-family: 'Permanent Marker', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.nav-link:hover,
.nav-link:focus {
  color: $_header_accent_color;
}

.nav-btn {
  @include media(desktop) {
    display: none;
  }
}

.context-menu-backdrop {
  z-index: 10;
  position: fixed;
  background-color: #d2306a;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.context-menu {
  background-color: #f6d9e4;
  padding: 110px 60px 50px 60px;
  border-radius: 0 0 32px 32px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  // display: none;
  z-index: 10;
  background-image: url(../img/header/paws.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 206px;

  @media (min-resolution: 192dpi) {
    background-image: url(../img/header/paws-2x.png);
  }
}

.menu-icon {
}

.context-img {
  position: absolute;
  top: 8px;
  left: 8px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #000;
}

.close-icon {
  fill: #000;
  stroke: #000;
}

.context-nav {
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.context-list-item {
}

.context-list-link {
  font-family: 'Permanent Marker', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.context-menu-btn {
  display: flex;
  width: 132px;
  height: 42px;
  position: absolute;
  bottom: -62px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  border: 2px solid #fac6d9;
  border-radius: 10px;
  padding: 8px 19.4px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.menu-btn-text-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 8px;
  color: #fac6d9;
}

.menu-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.03em;
  color: #fac6d9;
  width: 61px;
}

.is-open {
  display: block;

  @include media(desktop) {
    display: none;
  }
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
