.header {
  background-color: #9e083e;
  padding-top: 8px;
  padding-bottom: 8px;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 72px;
    padding-left: 72px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 10px;

  @include media(desktop) {
    padding-left: 0;
    padding-right: 182px;
  }
}

.nav-img {
  @include media(desktop) {
    width: 86px;
    height: 86px;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    gap: 32px;
  }
}

.nav-list-link {
  font-family: 'Permanent Marker', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.nav-link:hover,
.nav-link:focus {
  color: $_header_accent_color;
}

.nav-btn {
  @include media(desktop) {
    display: none;
  }
}
