@import 'modern-normalize';
@import './header.scss';
@import './hero.scss';
@import './benefits.scss';
@import './about.scss';
@import './play.scss';
@import './gallery.scss';
@import './advantages.scss';
@import './faq.scss';
@import './footer.scss';

:root {
  font-family: 'Merriweather', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 72px;
    padding-left: 72px;
  }
}
